<%- include('includes/header') %>
    <div class="content">
      <div action="/transfer"  method="POST" class="form">
          <h1>Transfer Money</h1>
          <form action="/transfer" method="POST" class="register-form">
       
            <input type="text" name="to" id="to" placeholder="To" />
            <input type="text" name="from" id="from" placeholder="From" />
            <input type="text" name="amount" id="amt" placeholder="Amount" />
          <button>Transfer Money</button>
      </div>
    </div>
  </body>
</html>